* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d1d8e0;
}

.rev-cont {
    width: 25rem;
    margin: 10rem auto;
    background-color: #2bcbba;
    padding: 2rem;
    border-radius: 1rem;
}

.rev-cont .header {
    background-color: #0fb9b1;
    padding: 0.2rem;
    text-align: center;
    color: #d1d8e0;
    margin: 0 0 1rem 0;
    border-radius: 1rem;
    width: fit-content;
    transition: width 0.5s ease;
}

.face-img img {
    width: 100px;
    height: 150px;
}

.rev-cont .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev-cont .content .text-content {
    margin: 0 0 0 1rem;
}

.button-area {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
}

.button-area button {
    border: none;
    outline: none;
    margin-left: 0.5rem;
    padding: 8px 12px;
    cursor: pointer;
}